<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>회원가입</title></head>
<body>
<h2>회원가입</h2>
<form th:action="@{/user/signup}" method="post" th:object="${user}">
  <div>이메일: <input type="text" th:field="*{email}"></div>
  <div>비밀번호: <input type="password" th:field="*{password}"></div>
  <div>닉네임: <input type="text" th:field="*{nickname}"></div>
  <button type="submit">가입</button>
</form>
<p>※ id: <b>root</b>, pw: <b>admin</b> 으로 가입 시 최초 1명만 관리자 자동 승인</p>
</body>
</html>
